* {
  padding: 0;
  margin: 0;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.movie-item {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.movie-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.movie-title {
  font-size: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
  font-size: 20px;
}

.pagination button:hover {
  background-color: #eaeaea;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
